In [87]:
import csv
import pandas as pd
import numpy as np
import seaborn as sns

In [128]:
covid = pd.read_csv('covid.csv')

C:\Users\dudns\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (10,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [129]:
covid.head()

,seq,stdDay,areaNm,areaNmEn,areaNmCn,nationNm,nationNmEn,nationNmCn,natDefCnt,natDeathCnt,natDeathRate,createDt,updateDt
0,1,2020년 3월 09일 00시,아시아,NaN,NaN,중국,NaN,NaN,80735.0,3119.0,3.863256,2020-03-16 20:51,NaN
1,2,2020년 3월 09일 00시,아시아,NaN,NaN,홍콩,NaN,NaN,115.0,2.0,1.73913,2020-03-16 20:51,NaN
2,3,2020년 3월 09일 00시,아시아,NaN,NaN,대만,NaN,NaN,45.0,1.0,2.222222,2020-03-16 20:51,NaN
3,4,2020년 3월 09일 00시,아시아,NaN,NaN,마카오,NaN,NaN,10.0,NaN,0.0,2020-03-16 20:51,NaN
4,5,2020년 3월 09일 00시,아시아,NaN,NaN,일본,NaN,NaN,488.0,7.0,1.434426,2020-03-16 20:51,NaN

In [130]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101374 entries, 0 to 101373
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   seq           101374 non-null  int64
 1   stdDay        101374 non-null  object
 2   areaNm        101374 non-null  object
 3   areaNmEn      100082 non-null  object
 4   areaNmCn      100082 non-null  object
 5   nationNm      101374 non-null  object
 6   nationNmEn    100082 non-null  object
 7   nationNmCn    100069 non-null  object
 8   natDefCnt     101262 non-null  float64
 9   natDeathCnt   90853 non-null   float64
 10  natDeathRate  101374 non-null  object
 11  createDt      101374 non-null  object
 12  updateDt      713 non-null     object
dtypes: float64(2), int64(1), object(10)
memory usage: 10.1+ MB

In [161]:
covid.drop(columns=['seq','areaNmEn','areaNmCn','nationNmEn','nationNmCn','createDt','updateDt','natDeathCnt','natDeathRate'], inplace=True)
#covid

KeyError: "['seq' 'areaNmEn' 'areaNmCn' 'nationNmEn' 'nationNmCn' 'createDt'\n 'updateDt' 'natDeathCnt' 'natDeathRate'] not found in axis"

In [132]:
covid.rename(columns = {"stdDay": "기준일시"}, inplace = True)
covid.rename(columns = {"areaNm": "지역명"}, inplace = True)
covid.rename(columns = {"nationNm": "국가명"}, inplace = True)
covid.rename(columns = {"natDefCnt": "국가별 확진자 수"}, inplace = True)

In [136]:
covid['date_dt']=pd.to_datetime(covid['기준일시'], format='%Y년 %m월 %d일 %H시')

In [137]:
covid['year']=covid.date_dt.dt.year
covid['month']=covid.date_dt.dt.month

In [162]:
#covid

In [139]:
covid.drop(columns=['date_dt','기준일시'], inplace=True)
#covid

         지역명      국가명  국가별 확진자 수  year  month
0        아시아       중국    80735.0  2020      3
1        아시아       홍콩      115.0  2020      3
2        아시아       대만       45.0  2020      3
3        아시아      마카오       10.0  2020      3
4        아시아       일본      488.0  2020      3
...      ...      ...        ...   ...    ...
101369  아프리카      남수단    11090.0  2021      8
101370  아프리카  상투메프린시페     2463.0  2021      8
101371  아프리카      코모로     4029.0  2021      8
101372  아프리카      레소토    13603.0  2021      8
101373    기타  기타지역 영토   726996.0  2021      8

[101374 rows x 5 columns]

In [145]:
hong=covid.loc[covid['국가명']=='홍콩',['국가명','국가별 확진자 수','year','month']]

In [147]:
ind=covid.loc[covid['국가명']=='인도네시아',['국가명','국가별 확진자 수','year','month']]

In [148]:
usa=covid.loc[covid['국가명']=='미국',['국가명','국가별 확진자 수','year','month']]

In [165]:
uru=covid.loc[covid['국가명']=='우루과이',['국가명','국가별 확진자 수','year','month']]

In [168]:
top10 = pd.concat([hong,ind,usa,uru], axis=0)

In [169]:
top10.isna().sum()

국가명          0
국가별 확진자 수    0
year         0
month        0
dtype: int64

In [164]:
top10_covid=top10.pivot_table(values='국가별 확진자 수',index='국가명',columns=['year','month'],aggfunc='sum',fill_value=0)
_covid

year     2020                                                                 \
month      3         4         5         6          7          8          9
국가명
미국     902730  24660896  47474016  67802302  116338622  174400714  190106795
인도네시아    9356    192315    550354   1213333    2605901    4437026    6445702
홍콩       6851     40815     34764     36093      60718     140202     143831

year                                         2021                        \
month         10         11         12         1          2          3
국가명
미국     242821288  332839517  501426809  797970072  940872756  930685313
인도네시아   10681640   14397680   19497600   31033245   41506833   45420763
홍콩        161589     172691     238736     335918     374748     360255

year
month         4           5          6          7          8
국가명
미국     929186740  1006933257  894217574  775777689  139714033
인도네시아   47447501    53761939   52403067   63170699   14060398
홍콩        348675      366288     320749     275025      47982